* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-tap-highlight-color: transparent;
}
.icons-container {
  width: 180px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 10px;
  margin-right: 20px;
}
.icons {
  height: 40px;
  width: 40px;
  background-color: #f5f5f5;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}
.icons:hover {
  transform: scale(1.2);
}
#git-icon {
  background: url("images/icons8-github.gif");
  background-size: contain;
}
#link-icon {
  background: url("images/icons8-linkedin.gif");
  background-size: contain;
}
#twi-icon {
  background: url("images/icons8-twitter.gif");
  background-size: contain;
  height: 35px;
  width: 35px;
}
#navbar {
  height: 70px;
  width: 100%;
  background-color: #d3d3d3;
  display: flex;
  justify-content: space-between;
}
#navbar img {
  height: 150px;
  width: 150px;
  margin-top: -40px;
  padding: 10px;
}
main {
  width: 100%;
  flex: 1;
}
.hero {
  height: 130px;
  width: 100%;

  /* margin: 50px 50px 0 50px; */
  background: url("images/sunset-img.png");
  background-size: 100% 250px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  height: 70px;
  width: 100%;
  background-color: #d3d3d3;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: 20px;
}
#greeting {
  font-size: 30px;
  font-weight: 500;
  /* color: #2f4f4f; */
  color: #faf4f4;
  text-align: center;

  text-shadow: 1px 1px 1px #243030;
}

.card {
  width: 90%;
  max-width: 470px;
  background-color: #d3d3d3;
  color: #2f4f4f;
  margin: 50px auto 50px auto;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
.future-card {
  width: 90%;
  max-width: 470px;
  background-color: #d3d3d3;
  color: #2f4f4f;
  margin: 50px auto 50px auto;
  border-radius: 20px;
  padding: 20px 35px;
  text-align: center;
  display: none;
}
#forecast-button img {
  height: 20px;
  width: 20px;
}

#content {
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #f5f5f5;
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
  font-size: 22px;
  padding-bottom: 10px;
}
#content button {
  height: 30px;
  width: 50px;
  border-radius: 50%;
  border: 0;
  outline: none;
  background: #ebfffc;
  border-radius: 30px;
  box-shadow: 3px 3px 3px #555;
  transition: 1s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content button:active {
  transform: scale(0.8);
}

.articles {
  height: 60px;
  width: 100%;
  border: 1px solid #f5f5f5;
  display: none;
}
.box {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
}

#input-field {
  border: 0;
  outline: none;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
  box-shadow: 3px 3px 3px #555;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search button {
  border: 0;
  outline: none;
  background: #ebfffc;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  box-shadow: 3px 3px 3px #555;
  transition: 1s;
}
.search button:active {
  background-color: aqua;
  transform: scale(0.8);
}
.search button img {
  width: 16px;
}
#location-icon {
  width: 28px;
  opacity: 0.5;
}
.weather-icon {
  width: 170px;
  margin-top: 30px;
  animation: myMove 5s linear 2s infinite
    alternate;
}
.condition {
  margin-bottom: 20px;
  animation: myMove 5s linear 2s infinite
    alternate;
  text-align: center;
}
.weather h1 {
  font-size: 80px;
  font-weight: 500;
}
.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 40px;
  margin-right: 10px;
  filter: brightness(20%);
}
.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}
.weather {
  display: none;
}
.error {
  margin: 10px 0 0 10px;
  font-size: 14px;
  text-align: left;
  display: none;
}
/*animations*/

@keyframes myMove {
  0% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}

@media (max-width: 480px) {
  #navbar {
    height: 70px;
    /* margin-bottom: 80px; */
  }
  #navbar img {
    margin-left: -24px;
  }
  .icons-container {
    width: 120px;
    margin-right: 5px;
  }
  .icons {
    height: 30px;
    width: 30px;
  }
  #twi-icon {
    height: 28px;
    width: 28px;
  }
  #greeting {
    font-size: 20px;
    font-weight: 400;
  }
  .card {
    width: 95%;
    border-radius: 20px;
    padding: 20px 0px;
    margin: 40px auto;
  }
  .hero {
    border-radius: 0;
    margin-top: 0;
    background-size: cover;
  }
  .future-card {
    width: 95%;
    border-radius: 20px;
    padding: 20px 0px;
    margin: 40px auto;
  }
  .articles {
    font-size: 12px;
    padding-left: 3px;
  }
  #content {
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 14px;
    align-items: center;
    font-size: 16px;
  }
  #content button {
    height: 30px;
    width: 50px;
    border-radius: 50%;
    border: 0;
    outline: none;
    background: #ebfffc;
    border-radius: 30px;
    box-shadow: 3px 3px 3px #555;
    transition: 1s;
  }
  .search {
    width: 100%;
    flex-direction: column;
    gap: 10px;
    flex: 2;
    height: 100px;
  }
  #input-field {
    padding: 7px 15px;
    border-radius: 30px;
    font-size: 16px;
    height: 100px;
    width: 80%;
    margin-right: 0;
  }
  .search button {
    height: 40px;
    width: 40px;
  }
  .search button img {
    width: 12px;
  }
  #location-icon {
    width: 22px;
    opacity: 0.5;
  }
  .weather-icon {
    width: 140px;
    margin-top: 15px;
  }
  .condition {
    margin-bottom: 20px;
    font-size: 12px;
  }
  .weather h1 {
    font-size: 60px;
    font-weight: 500;
  }
  .weather h2 {
    font-size: 30px;
    font-weight: 400;
    margin-top: -5px;
  }
  .error {
    text-align: center;
    margin-top: 20px;
  }
  .col img {
    width: 22px;
    margin-right: 5px;
    color: black;
  }
  .humidity,
  .wind {
    font-size: 16px;
    margin-top: -4px;
  }
  .para {
    font-size: 14px;
  }
}
