* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #b4acac;
}
.container {
  min-height: 100px;
  width: 100%;
  margin: 100px auto;
  background-color: white;
}
button {
  height: 50px;
  width: 200px;
  margin: auto;
  text-align: center;
  background-color: black;
  color: #b4acac;
  border-radius: 20px;
}
